.password-setting {
  height: 100%;
  width: 100%;
  .main {
    height: 600px;
    width: 100%;
    padding: 0 15%;
    margin: 102.5px 0;
    background: #24292e;
    .float-button {
      position: absolute;
      width: 80px;
      margin-left: 110%;
    }
    .email-alert {
      margin-left: 8px;
    }
  }
}
