.controller-container {
  position: absolute;
  width: 100%;
  height: 100%;
  min-width: 1000px;
  .controller {
    position: absolute;
    z-index: 1002;
    text-align: center;
    top: 50%;
    transition: all .5s ease-in-out .5s;
    transform: translateX(-50%) translateY(-50%);
  }
  .loading-mask {
    transition: opacity .5s ease-in-out .5s;
    transition: z-index 0s liner 1s;
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 100%;
    z-index: 1001;
  }
  .controller-content {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all .5s ease-in-out .5s;
  }
}

.is-loading {
  .controller {
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  .loading-mask {
    opacity: .7;
  }
}

.load-success {
  .controller {
    left: 100%;
    transform: translateX(-100%) translateY(-50%);
  }
  .loading-mask {
    opacity: 0;
    z-index: 0;
  }
}
.login {
  .controller {
    left: 25%;
    transform: translateX(-50%) translateY(-50%);
    transition: all .5s ease-in-out .5s;
  }
  .loading-mask {
    z-index: -1;
    opacity: 0;
  }
}
.message {
  .controller {
    left: 100%;
    transform: translateX(-100%) translateY(-50%);
  }
  .loading-mask {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes fadeIn{
  0% {
    opacity: .7;
  }
  100% {
    opacity: 0;
  }
}

@keyframes rotate{
  0%{transform:rotate(0deg);}

  25%{transform:rotate(90deg);}

  50%{transform:rotate(180deg);}

  75%{transform:rotate(270deg);}

  100%{transform:rotate(360deg);}
}

@keyframes floatSlide {
  0%{
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  50%{
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  100%{
    left: 100%;
    transform: translateX(-100%) translateY(-50%);
  }
}

@keyframes borderFade {
  0% {
    border: 2px dashed #111;
  }
  25% {
    border: 1px dashed #666;
  }
  50% {
    border: none;
  }
  100% {
    border: none;
  }
}


@keyframes contentSlideIn {
  0%{
    top: 100%;
  }

  50%{
    top: 100%;
  }

  100%{
    top: 0;
  }
}
